
.ez-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.ez-icon-Battery-Quarter--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Battery-Quarter--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Battery-Quarter--Streamline-Carbon.svg");
}

.ez-icon-Charging-Station--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Charging-Station--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Charging-Station--Streamline-Carbon.svg");
}

.ez-icon-Chip--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Chip--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Chip--Streamline-Carbon.svg");
}

.ez-icon-Data-Regular--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Data-Regular--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Data-Regular--Streamline-Carbon.svg");
}

.ez-icon-Flash-Off--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Flash-Off--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Flash-Off--Streamline-Carbon.svg");
}

.ez-icon-Forecast-Lightning--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Forecast-Lightning--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Forecast-Lightning--Streamline-Carbon.svg");
}

.ez-icon-Kubelet--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Kubelet--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Kubelet--Streamline-Carbon.svg");
}

.ez-icon-Thunderstorm--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Thunderstorm--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Thunderstorm--Streamline-Carbon.svg");
}

.ez-icon-Thunderstorm-Strong--Streamline-Carbon {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Thunderstorm-Strong--Streamline-Carbon.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Thunderstorm-Strong--Streamline-Carbon.svg");
}

.ez-icon-Workflow {
  -webkit-mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Workflow.svg");
  mask-image: url("https://cdn.jsdelivr.net/gh/JacobMire/icon-library@main/svg/ez-Workflow.svg");
}
